.coursework {
  width: 100%;
  height: 34.5vw;
}

.coursetitle {
  color: white;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  font-size: 2.5vw;
  height: 5vw;
  display: flex;
  padding-left: 2vw;
  align-items: center;
  justify-content: left;
  padding-right: 2vw;
}
.coursedata {
  width: 100%;
  height: 29vw;
  font-size: 1.26vw;
  font-family: 'Quicksand', sans-serif;
  box-shadow: inset 0px 0px 100px 0px black;
}
.timeline-wrapper {
  position: relative;
  width: 100%;
  margin: auto;
  height: 29.5vw;
}
.timeline-wrapper .middle-line {
  position: absolute;
  width: 100%;
  height: 0.2vw;
  top: 50%;
  transform: translateY(-50%);
  background: #cb5345;
}
.box {
  width: 12%;
  position: relative;
  height: 29.5vw;
  float: left;
}
.box .date {
  position: absolute;
  top: 14.65vw;
  left: 6vw;
  transform: translateY(-50%);
  width: 1vw;
  height: 1vw;
  border-radius: 100%;
  background: #fff;
}
.date p {
  text-align: center;
  color: black;
  margin-top: 3px;
  margin-bottom: 0px;
}

.box .box-content {
  border-radius: 5px;
  background-color: #ff7a6aa6;
  width: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  padding: 0.7vw;
}
.box-content p {
  margin: 0;
  color: white;
}
.box-bottom .box-content {
  top: 18vw;
  right: -4vw;
}
.box-content::before {
  content: '';
  position: absolute;
  left: 36.5%;
  transform: translateX(-50%);
  border: 0.8vw solid transparent;
}
.box-bottom .box-content::before {
  border-bottom-color: #ff7a6aa6;
  top: -1.52vw;
  left: 8.5vw;
}
.box-top .box-content::before {
  border-top-color: #ff7a6aa6;
  bottom: -1.5vw;
}
.box-top .box-content {
  top: 8vw;
}
