.fifth {
  width: 100%;
  height: 53.7vw;
}
.fifhead {
  width: 100%;
  height: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 3vw;
  font-weight: bolder;
}
.container {
  width: 100%;
  height: 46.6vw;
  color: white;
  background-image: url('/Images/b11.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.cup {
  height: 24vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cdown {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c15 {
  height: 21vw;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75vw;
  width: 18%;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 9px 1px black;
  border-radius: 1.5px;
  align-items: center;
  margin: 0px 0.8vw;
  transition: all 0s ease;
}
#p1 {
  background-image: linear-gradient(to bottom, transparent, rgba(5, 5, 5, 0.9)),
    url('/Images/photography.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
#p2 {
  background-image: linear-gradient(to bottom, transparent, rgba(5, 5, 5, 0.9)),
    url('/Images/cricket.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
#p3 {
  background-image: linear-gradient(to bottom, transparent, rgba(5, 5, 5, 0.9)),
    url('/Images/team.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
#p4 {
  background-image: linear-gradient(to bottom, transparent, rgba(5, 5, 5, 0.9)),
    url('/Images/song.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
#p5 {
  background-image: linear-gradient(to bottom, transparent, rgba(5, 5, 5, 0.9)),
    url('/Images/hiking.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
#p6 {
  background-image: linear-gradient(to bottom, transparent, rgba(5, 5, 5, 0.9)),
    url('/Images/horror.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-top: 0vw;
}
#p7 {
  background-image: linear-gradient(to bottom, transparent, rgba(5, 5, 5, 0.9)),
    url('/Images/software.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
  margin-top: 0vw;
}
#p8 {
  background-image: linear-gradient(to bottom, transparent, rgba(5, 5, 5, 0.9)),
    url('/Images/travel.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-top: 0vw;
}
#p9 {
  background-image: linear-gradient(to bottom, transparent, rgba(5, 5, 5, 0.9)),
    url('/Images/painting.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-top: 0vw;
}
#p0 {
  background-image: linear-gradient(to bottom, transparent, rgba(5, 5, 5, 0.9)),
    url('/Images/dc.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-top: 0vw;
}
.red {
  color: #ff9393;
}
.c15:hover {
  transform: scale(1.1);
  font-size: 2.2vw;
  border-radius: 1.5px;
}
.c15:before {
  content: '';
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  border-radius: 1.5px;
  bottom: 0;
  transition: height 0.5s ease;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(5, 5, 5, 0.9) 100%
  );
}
.c15:hover:before {
  height: 50%;
}
