.first {
    height: 50vw;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    animation: anim 20s ease-in-out infinite 0s;
}
@keyframes anim {
    0%,100%{
        background-image: url('/Images/top1.jpg');
    }
    20%{
        background-image: url('/Images/a3.jpg');
    }
    40%{
        background-image: url('/Images/a1.jpg');
    }
    65%{
        background-image: url('/Images/a6.jpg');
    }
    80%{
        background-image: url('/Images/joker.jpg');
    }
}


.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vw;
    padding: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 2px 0px 30px black;
}

.left {
    font-size: 1.5vw;
    margin-left: 1vw;
    display: flex;
    color: white;
    width: 10%;
    font-family: 'Abril Fatface', cursive;
}

.mid {
    width: 80%;
    text-align: center;
}

.right {
    color: white;
    width: 10%;
    margin-top: 0.9vw;
    margin-right: 1vw;
    text-align: right;

}

ul {
    list-style-type: none;

}

ul li {
    display: inline-block;
    margin: 0% 0%;
    text-decoration: none;
}

ul li a {
    border: 1px solid #8d9dab;
    color: white;
    border-radius: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    padding: 0.4vw 1.1vw;
    text-decoration: none;
    font-size: 1.4vw;
    border-radius: 5%;
    margin: 0vw 1.3vw;
}

ul li a:hover {
    box-shadow: 0px 3px 120px 0px #de5a79f2;
    color: #de5a79f2;
    border-bottom: 1px solid #de5a79f2;
}

ul li a:active {
    color: black;
    font-weight: bolder;
}

#l2 {
    color: #ff9393;
    font-size: 2vw;
}

.left :hover {
    cursor: pointer;
}

#img {
    filter: invert(1);
    width: 4vw;
}

.right:hover {
    cursor: pointer;
}

.wel {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 21vw;
}

.wel1 {
    font-size: 2.3vw;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: white;
    animation: qwert 1s ease;
}

.wel2 {
    color: white;
    font-weight: bold;
    font-size: 4vw;
    font-family: 'Raleway', sans-serif;
    animation: qwert 1s ease;
}

.wel3 {
    font-size: 1.25vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: #d857759e;
    position: absolute;
    font-weight: bolder;
    margin-top: 0.2vw;
    left: 41vw;
    width: 16vw;
    border-radius: 103px;
    padding: 0.4vw;
    animation: qwert 1s ease;
}
@keyframes qwert {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
ul li:hover{
    transform: scale(1.1);
    background-color: transparent;
    transition: all 0.2s ease;
}