.fourth {
  width: 100%;
  height: 74vw;
  background-image: url('/Images/cc2.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.skills {
  width: 100%;
  height: 5.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 3.5vw;
  color: black;
  backdrop-filter: blur(3px);
}
.lask {
  color: white;
  width: 100%;
  background-size: cover;
  height: 68.5vw;
}
.lang {
  width: 100%;
  height: 34.5vw;
}
.langhead {
  backdrop-filter: blur(3px);
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  font-size: 2.5vw;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: right;
  color: white;
  padding-right: 2vw;
}
.cursive {
  color: white;
  margin-top: 9px;
  font-size: 3vw;
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: 'Ballet', cursive;
  margin-left: 0.7vw !important;
}
.langbody {
  box-shadow: inset 0px 0px 30px 1px rgba(0, 0, 0, 0.666);
  width: 100%;
  display: grid;
  grid-template-rows: 13vw 13vw;
  grid-template-columns: repeat(7, 1fr);
  height: 29.5vw;
  font-family: 'Quicksand', cursive;
  font-weight: 600;
  font-size: 1.4vw;
  color: #00101a;
  padding: 3vw 3vw 0vw 5vw;
}
.lnaguageIcons {
  border-radius: 0.9vw;
  padding: 1.6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  height: 10vw;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(38, 38, 38, 0.265);
  box-shadow: rgba(6, 15, 19, 0.224) 0px 2px 4px 0px,
    rgba(10, 22, 27, 0.313) 0px 2px 16px 0px;

  transition: all ease 0.1s;
}
.langName {
  margin-top: 0.78vw;
}
.skillTag {
  position: absolute;
  color: #ffffff51;
  font-size: 15.3vw;
  font-family: 'Tilt Warp';
  left: 0vw;
  text-shadow: -2px 1px 30px #2121212f;
  top: 123.3vw;
}
.lnaguageIcons:hover {
  transform: scale(1.16);
}
