.second {
  height: 43vw;
  display: flex;
  background-image: url('/Images/123.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center 41%;
}
.mypic {
  margin-right: 9%;
  box-shadow: 10px 0 24px -5px #1f1f1f;
  width: 100%;
  box-sizing: border-box;
  height: 43vw;
  transition: transform 0.7s;
}
.mypic:hover {
  transform: scale(1.1);
  box-shadow: 10px 0 34px -5px #141414;
}
.secondpic {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.seconddata {
  display: inline-block;
  width: 60%;
  font-family: 'Quicksand', sans-serif;
  padding-left: 3%;
}

.sd1 {
  font-size: 2.5vw;
  position: relative;
  top: 22%;
  font-weight: bold;
}

.sd11 {
  font-weight: bolder;
  font-size: 1.65vw;
  color: #ff5d5d;
  position: relative;
  top: 23%;
}

.sd12 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  background-color: #ff5d5dc9;
  margin-left: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.3vw;
  padding-bottom: 0.36vw;
  border: none;
  border-radius: 3px;
  font-size: 1.1vw;
  transition: transform 0.2s;
}
.sd12:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.sd12:active {
  font-weight: bolder;
  color: #ff5d5de2;
  background-color: white;
  border: 1px solid #ff5d5de2;
  transform: scale(1.2);
}
.sd2 {
  position: relative;
  top: 25%;
  font-weight: 100;
  width: 77%;
  font-size: 1.37vw;
}

.sd3 {
  position: relative;
  top: 28%;
  font-size: 1.35vw;
}

.bold {
  margin-right: 5px;
  display: inline-block;
  font-weight: bolder;
}

.reveal {
  position: relative;
  transform: translateY(17vw);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.reveall {
  position: relative;
  transform: scale(0);
  opacity: 0;
}
.reveall.active {
  transform: scale(1);
  opacity: 1;
  transition: all 0.3s ease;
}
.revealll {
  position: relative;
  transform: translateX(-100vw);
  opacity: 0;
}
.revealll.active {
  transform: translateX(0px);
  opacity: 1;
  transition: all 1s ease;
}
.cpi {
  margin-right: 0.4vw;
  cursor: pointer;
  transition: transform 0.2s;
}
.cpi:hover {
  color: #ff5d5d;
  font-weight: bold;
}
.aboutme {
  position: absolute;
  writing-mode: vertical-rl;
  right: 0vw;
  font-family: 'Tilt Warp', cursive;
  font-size: 10.1vw;
  color: #ffffff28;
  z-index: -9;
  top: 0vw;
  text-shadow: -2px 1px 30px #2121214f;
  user-select: none;
}

.Ashish {
  position: absolute;
  writing-mode: vertical-rl;
  left: -8.7vw;
  font-family: 'Tilt Warp', cursive;
  font-size: 6.1vw;
  color: #ffffff35;

  z-index: -9;
  top: 0.6vw;
  user-select: none;
}
