.seventh{
    width: 100%;
    height: 46vw;
    background-image: url('/Images/c2.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
}
.sevenhead{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 6vw;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    color: white;
}
.sevenhead2{
    width: 100%;
    font-family: 'Lexend', sans-serif;
    display: flex;
    margin-top: 0.67vw;
    font-size: 1.4vw;
    color: white;
    justify-content: center;
    align-items: center;

}
.sevencontainer{
    width: 100%;
    height: 38vw;
    display: flex;

}
.map{
    border-right: 1px solid rgba(255, 255, 255, 0.226);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
iframe{
    opacity: 0.6;
    border-radius: 4px;
    box-shadow: 0px 9px 20px 3px black;
    width: 30vw;
    height: 30vw;
    
}
.form{
    width: 50%;
    font-family: 'Lexend', sans-serif;
    padding: 5vw;
}

.na{
    width: 100%;
}
textarea,input{
    font-family: 'Lexend', sans-serif;
    background-color: rgba(112, 109, 109, 0.3);  
    border: 0px solid;  
    color: white;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.4212);
    outline: none;
    width: 100%;
    padding-left: 1.3vw ;
    border-radius: 4px;
}
.btn{
    color: white;
    background-color:#ff6262ad;;
    width: 12vw;
    height: 3vw;
    border-radius: 4px;
    display: flex;
    font-size: 1.1vw;
    justify-content: center;
    align-items: center;
    margin-top: 0.2vw;
}
.btn:hover{
    scale: 1.1;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.btn:active{
    border: 1px solid black;
}
.na,.em,.su,.mess{
    width:25.37vw ; 
    font-size: 1.23vw;
}
input{
    height: 3vw;
    margin:0.5vw 0vw;
    font-size: 1.23vw;
}
textarea{
    margin:0.5vw 0vw ;
}
