.fourth{
    width: 100%;
    height: 76vw;
    margin-top: 3vw;
}
.skills{
    width: 100%;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 3vw;
    font-weight: bolder;
}
.lask{
    color: white;
    width: 100%;
    background-size: cover;
    height: 69vw;
    background-image: url('/Images/sb2.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
.lang{
    width: 100%;
    height: 34.5vw;
}
.langhead{
    color:white;
    font-family:'Quicksand', sans-serif;
    width: 100%;
    font-size: 2.5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 2vw;
}
.cursive{
    color: black;
    margin-top: 9px;
    font-size: 3vw;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'Ballet', cursive;
}
.langbody{
    border-top: 0.1px solid black;
    box-shadow: inset 0px 0px 20px 0px black;
    width: 100%;
    display: flex;
    row-gap: 5%;
    justify-content: center;
    align-items: center;
    height:29.5vw;
    color: black;
}

.langright{
    width: 40%;
    margin: 1.5vw;
    height: 24vw;
}
.langleft{
    width: 40%;
    margin: 1.5vw;
    height: 24vw;
}
.langleft .bar{
 margin: 3.5vw 0vw;

}
.langleft .bar .info span{
    font-size: 1.5vw;
    font-weight: 500;
    opacity: 0;
    color: white;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
    animation: showtext 0.5s 1s linear forwards;
}
@keyframes showtext {
    100%{
        opacity: 1;
    }
    
}
.langleft .bar .info{
    margin-bottom: 0.3vw;
}
.langleft .bar .progressline{
    position: relative;
    height: 0.9vw;
    width: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background-color:#f0f0f02e;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.bar .progressline span{
    height: 0.9vw;
    width: 80%;
    position: absolute;
    background-color: #cb5345;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.progressline.c  span{
    width: 98%;
}
.progressline.java  span{
    width: 78%;
}
.progressline.python  span{
    width: 58%;
}
.bar .progressline span::before{
    position: absolute;
    content: "";
    right: 0;
    height: 0;
    width: 0;
    top: -1.2vw;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color:#56211a ;
    opacity: 0;
    animation: showtext2 0.5s 1.5s linear forwards;
}   
@keyframes showtext2 {
    100%{
        opacity: 1;
    }
}
.bar .progressline span::after{
    position: absolute;
    right: 0;
    top: -2.4vw;
    color: #fff;
    font-size: 1vw;
    font-weight: 500;
    font-family:'Quicksand', sans-serif;
    background-color: #56211a;
    padding:1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showtext2 0.5s 1.5s linear forwards;

}
.progressline.c  span::after{
    content: "98%";
}
.progressline.java  span::after{
    content: "78%";
}
.progressline.python  span::after{
    content: "58%";
}



