.second {
    height: 46vw;
    display: flex;
    background-color: white;
}

.mypic {
    margin-right: -23%;
    box-shadow: 0px 0px 7vw 4px grey;
    width: 60%;
    box-sizing: border-box;
    border: 0.2vw solid #33527c63;
    height: auto;
    transition: transform 0.7s;
}
.mypic:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 59px 4px grey;
}
.secondpic {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.seconddata {
    display: inline-block;
    width: 60%;
    font-family: 'Quicksand', sans-serif;
    padding-left: 3%;
}

.sd1 {
    font-size: 3vw;
    position: relative;
    top: 22%;
    font-weight: bold;
}

.sd11 {
    font-weight: bolder;
    font-size: 1.9vw;
    color: #ff5d5d;
    position: relative;
    top: 23%;
}

.sd2 {
    position: relative;
    top: 28%;
    font-weight: 100;
    width: 77%;
    font-size: 1.5vw;
}

.sd3 {
    position: relative;
    top: 30%;
    font-size: 1.4vw;
}

.bold {
    margin-right: 5px;
    display: inline-block;
    font-weight: bolder;
}
.dot {
    height: 1vw;
    width: 1vw;
    display: inline-block;
    background-color: #ff5d5d;
    border-radius: 50%;
}  
.reveal{
    position: relative;
    transform: translateY(17vw);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.reveall{
    position: relative;
    transform: scale(0);
    opacity: 0;
}
.reveall.active{
    transform: scale(1);
    opacity: 1;
    transition: all 1s ease;
}
.revealll{
    position: relative;
    transform: translateX(-100vw);
    opacity: 0;
}
.revealll.active{
    transform: translateX(0px);
    opacity: 1;
    transition: all 1s ease;
}
